			a:link
			{
				font-family: Helvetica, sans-serif;
				text-decoration: none;
				color: white;
				font-weight: bolder;
				padding-right: 12px;
			}
			
			a:visited
			{
				text-decoration: none;
				color: white;
			}
			
			li
			{
				list-style-type: none;
			}
			
			body
			{
				text-decoration: none;
				color: white;
				margin-left: auto; 
				margin-right: auto;
				background-image: linear-gradient(black, #2E803E, black);
				font-family: Helvetica, Arial, sans-serif;
			}
			
			.calendar img
			{
				width: 100%;
				margin: auto;
				padding: 0;
				justify-content: center;
			}
			
			.row 
			{
				display: flex;
				flex-wrap: wrap;
				padding: 0 4px;
			}

			.column 
			{
				max-width: 10%;
				max-height: 10%;
				padding: 0 4px;
				background-color: black;
			}

			.column img 
			{
				margin-top: 8px;
			}
			
			.nav
			{
				position: fixed;
				top: 0;
				width: 100%;
			}
			
			.top1nav
			{
				text-align: right;
				background-color: black;
				color: white;
				font-family: Helvetica, sans-serif;
				padding: 8px;
				border-top-color: gray;
				border-bottom-color: gray;
				border-width: 1px;
				border-style: solid;
				height: 30px;
			}
			
			
			.top2nav
			{
				background-color: black;
				color: white;
				font-family: Helvetica, sans-serif;
				border-top-style: none;
				border-bottom-color: gray;
				border-width: 1px;
				border-style: solid;
				height: 50px;
			}
				.top2nav > div
				{
					float: left;
					height: 50px;
				}
				.top2nav > .Search
				{
					float: right;
					text-align: center;
				}
			
			.homeSpace
			{
				justify-content: center;
				margin-left: 10px;
				margin-top: -12px;
			}
				.homeSpace p
				{
					text-align: center;
				}
			
			.Tabs
			{
	
				height: 70px;
				margin-top: 15px;
			}
				.Tabs ul
				{
					margin: 0 auto;
				}
			
				.Tabs ul li
				{
					text-align: center;  
					float: left; 
				}
				
				.Tabs ul a
				{
					width: 30px;
				}
				
			.Search
			{
				justify-content: center;
				margin-top: 5px;
			}
				.Search .img
				{
					vertical-align: center;
					margin-top: 5px;
				}
			
			.main
			{
				padding-top: 80px;
			}
			
			.bottomNav
			{
				background-color: black;
				color: white;
				font-family: Helvetica, sans-serif;
				border: black;
				border-width: 1px;
				border-style: solid;
				height: 150px;
			}
				.bottomNav > div
				{
					float: left;
					height: 150px;
					top: 50%;
					left: -20px;
				}
				.bottomNav > .personalInfo
				{
					float: right;
					text-align: center;
					margin-right: 10px;
				}
			
			.firstTabList li
			{
				margin-bottom: 4px;
			}
			
			.secondTabList li
			{
				margin-bottom: 4px;
			}